<head>
    <!-- HTML Meta Tags -->
    <title>"{{cookiecutter.title}}"</title>
    <meta name="description" content="{{cookiecutter.description}}">
    <meta http-equiv="refresh" content="0; URL='https://dados.rio/especiais/do-batente-ao-batuque'"/>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://share.dados.rio/carnaval/{{cookiecutter.card_id}}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{cookiecutter.title}}">
    <meta property="og:description" content="{{cookiecutter.description}}">
    <meta property="og:image" content="{{cookiecutter.image_url}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="share.dados.rio">
    <meta property="twitter:url" content="https://share.dados.rio/carnaval/{{cookiecutter.card_id}}/">
    <meta name="twitter:title" content="{{cookiecutter.title}}">
    <meta name="twitter:description" content="{{cookiecutter.description}}">
    <meta name="twitter:image" content="{{cookiecutter.image_url}}">    
</head>
<body>
</body>
